/*  your css code here. If applicable */
.container {
  width: 300px;
  margin: 50px auto;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 15px;
  text-align: center;
}

.red, .green, .yellow {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  margin: 10px;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.yellow {
  background-color: yellow;
}
